node_modules
vendor
.phpunit*
.timetracker
.vscode
coverage
.phpunit.result.cache
build

# Directories/files that may appear in your environment
*.log
yarn.lock
pnpm-lock.yaml
/artifacts
/test/e2e/artifacts
/perf-envs
/composer.lock

# The /.cache folder is needed for phpcs to cache results between runs, while other .cache folders must be ignored
# It is not possible to re-include a file if a parent directory of that file is excluded
# So, both /.cache and /.cache./.gitkeep must be re-included
.cache
!/.cache/
/.cache/**
!/.cache/.gitkeep

# Operating system specific files
.DS_Store
Thumbs.db

# Local overrides
.wp-env.override.json
phpcs.xml
phpunit.xml
phpunit-watcher.yml
